<!DOCTYPE html>
<html>
  <head>
    <title>GLHF</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/">Meme Image Bank</a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile/<%= login %>">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posters">Buy posters</a>
              </li>
            </ul>
            <a href="/random" class="me-2">
              <img src="/icons/shuffle.svg"/>
            </a>
            <form class="d-flex" action="/search", method="get">
              <div class="input-group me-2">
                <input type="text" name="q" placeholder="Search" class="form-control"/>
                <button type="submit" class="btn btn-light">
                  <img src="/icons/search.svg"/>
                </button>
              </div>
            </form>
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <div class="row mb-2">
          <% if (locals.output) { %>
            <% for (let i = 0; i < output.length; i++) { %>
              <% if (i%6 == 0 && i != 0) { %>
                </div>
                <div class="row mb-2">
              <% } %>
              <div class="col-2">
                <% if (output[i].premium) { %>
                <div class="card h-100 border border-warning border-3">
                  <img src="/images/<%= output[i].user %>/premium/<%= output[i].name %>" class="card-img-top" style="max-width: 100%; max-height: 200px;"/>
                <% } else { %>
                  <div class="card h-100">
                  <img src="/images/<%= output[i].user %>/<%= output[i].name %>" class="card-img-top" style="max-width: 100%; max-height: 200px;"/>
                <% } %>
                  <h5 class="card-title"><%= output[i].name %></h5>
                </div>
              </div>
            <% } %>
          <% } %>
          <% if (locals.search) { %>
            <% if (locals.vuln == 'true') { %>
              <p class="h2">Could not find images related to : <%- search %></p>
            <% } else { %>
              <p class="h2">Could not find images related to : <%= search %></p>
            <% } %>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
