<!DOCTYPE html>
<html>
  <head>
    <title>uvvu</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/">Meme Image Bank</a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile/<%= login %>">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posters">Posters</a>
              </li>
            </ul>
            <a href="/random" class="me-2">
              <img src="/icons/shuffle.svg"/>
            </a>
            <form class="d-flex" action="/search", method="get">
              <div class="input-group me-2">
                <input type="text" name="q" placeholder="Search" class="form-control"/>
                <button type="submit" class="btn btn-light">
                  <img src="/icons/search.svg"/>
                </button>
              </div>
            </form>
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <div class="row mb-2">
          <div class="col-6">
            <div class="card border border-warning border-3 text-center mb-2">
              <img src="/images/<%= poster.image %>" class="card-img-top" style="max-width: 100%"/>
              <h5 class="card-title"><%= poster.name %> - <%= poster.price %>$</h5>
            </div>
            <form action="/posters/buy" method="post">
              <input type="hidden" value="<%= poster.name %>" name="poster" />
              <input type="hidden" value="<%= poster.price %>" name="price" />
              <button type="submit" class="btn btn-success col-12">Buy</button>
            </form>
          </div>
          <div class="col-6">
            <h5>Comments</h5>
            <% for (let i = 0; i < comments.length; i++) { %>
              <div class="row mb-2">
                <div class="col">
                  <% if (vuln == 'hard') { %>
                    <%- comments[i].login %>: <%= comments[i].message %>
                  <% } else if (vuln == 'easy') { %>
                    <%= comments[i].login %>: <%- comments[i].message %>
                  <% } else { %>
                    <%= comments[i].login %>: <%= comments[i].message %>
                  <% } %>
                </div>
              </div>
            <% } %>
            <form action="/posters/comment" method="post" class="row">
              <input type="hidden" value="<%= login %>" name="user" />
              <input type="hidden" value="<%= poster.id %>" name="poster" />
              <div class="col-8">
                <textarea name="comment" placeholder="Type your comment..." class="form-control"></textarea>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
