<!DOCTYPE html>
<html>
  <head>
    <title>uvvu</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/">Meme Image Bank</a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile/<%= login %>">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posters">Posters</a>
              </li>
            </ul>
            <a href="/random" class="me-2">
              <img src="/icons/shuffle.svg"/>
            </a>
            <form class="d-flex" action="/search", method="get">
              <div class="input-group me-2">
                <input type="text" name="q" placeholder="Search" class="form-control"/>
                <button type="submit" class="btn btn-light">
                  <img src="/icons/search.svg"/>
                </button>
              </div>
            </form>
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <div class="row mb-2">
          <div class="col-6">
            <div class="row mb-2">
              <h1 class="h2">Buy a poster :</h1>
            </div>
            <div class="row mb-2">
              <% for (let i = 0; i < posters.length; i++) { %>
                <% if (i%4 == 0 && i != 0) { %>
                  </div>
                  <div class="row mb-2">
                <% } %>
                <div class="col-3 text-center">
                  <a href="/posters/<%= posters[i].id %>">
                    <div class="card h-100">
                      <img src="/images/<%= posters[i].image %>" class="card-img-top" style="max-width: 100%; max-height: 200px;"/>
                      <h5 class="card-title"><%= posters[i].name %></h5>
                    </div>
                  </a>
                </div>
              <% } %>
            </div>
          </div>
          <div class="col-6">
            <div class="row mb-2">
              <h1 class="h2">Create your own :</h1>
            </div>
            <div class="row mb-3">
              <form action="/posters/create", method="post" class="col-8">
                <input type="text" name="title" placeholder="Title" class="form-control"/>
                <input type="text" name="image" placeholder="Image name" class="form-control" />
                <input type="number" name="price" placeholder="Price" step=".01" class="form-control mb-1" />
                <button type="submit" class="btn btn-primary">Show</button>
              </form>
            </div>
            <div class="row">
              <h1 class="h3">Your images</h1>
              <% if (locals.images) { %>
                <% for (let i = 0; i < images.length; i++) { %>
                  <% if (i%4 == 0 && i != 0) { %>
                    </div>
                    <div class="row mb-2">
                  <% } %>
                  <div class="col-3">
                    <% if (images[i].premium) { %>
                      <div class="card h-100 border border-warning border-3">
                        <img src="/images/<%= images[i].user %>/premium/<%= images[i].name %>" class="card-img-top" style="max-width: 100%; max-height: 200px;"/>
                      <% } else { %>
                        <div class="card h-100">
                        <img src="/images/<%= images[i].user %>/<%= images[i].name %>" class="card-img-top" style="max-width: 100%; max-height: 200px;"/>
                      <% } %>
                      <h5 class="card-title"><%= images[i].name %></h5>
                    </div>
                  </div>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
